@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*
    Variáveis
*/
:root {
  --main-background: #fafafa;
  --primary-text: #262626;
  --secondary-text: #8e8e8e;
  --icon-color: #000000;
  --follow-color: #139ef2;
  --border: #dbdbdb;
  --shadow: #0f0f08;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background);
}

.container {
  max-width: 1366px;
  max-height: 2000px;
  overflow: hidden;
  margin: 0 auto;
}
/*
  Header
*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid var(--border);
  border-radius: 3px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 935px;
  height: 100%;
}

.header-logo {
  display: flex;
  align-items: flex-start;
}

.header-logo img {
  width: 103px;
  cursor: pointer;
}

.line-vertical {
  height: 25px;
  width: 2px;
  margin: 0px 12px;
  background-color: var(--border);
}

.header-search input {
  width: 215px;
  height: 28px;
  border: 1px solid var(--border);
  border-radius: 3px;
  background-color: var(--main-background);
  color: var(--primary-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background-color: #fafafa;
}

.header-search input:focus {
  outline: none;
}

.header-search input::placeholder {
  text-align: center;
  color: #979797;
}

.header-icons {
  display: flex;
  justify-content: center;
  width: 160px;
}

.header-icons ion-icon {
  margin: 0px 5px;
}

/*
  Main Content
*/

section {
  display: flex;
  width: 935px;
  margin: 0 auto;
  margin-top: 88px;
}

.container-story {
  display: flex;
  align-items: center;
  width: 614px;
  height: 118px;
  border: solid 1px var(--border);
  border-radius: 3px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}

.container-story ion-icon {
  position: absolute;
  top: 31%;
  right: 0;
  color: #ffffff;
  font-size: 28px;
}

.container-story ion-icon:hover {
  opacity: 0.7;
}

.story-content {
  padding: 0px 8px;
}

.story-image {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: radial-gradient(rgb(0, 0, 0, 0.15) 60%, transparent 0%),
    radial-gradient(white 65%, transparent 0%), linear-gradient(to top right, orange, deeppink);
}

.story-image img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.story-content p {
  text-align: center;
  user-select: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400px;
  color: var(--primary-text);
}

.container-post {
  margin-top: 24px;
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 3px 0px;
  background-color: #ffffff;
}

.post-header {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.post-header div {
  display: flex;
  align-items: center;
  width: 100px;
  cursor: pointer;
}
.post-header img {
  width: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-image img {
  width: 614px;
}

.post-footer-icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  margin-top: 8px;
}

.post-footer-likes {
  display: flex;
  margin-top: 5px;
  padding: 0px 8px;
}

.post-footer-likes img {
  margin-right: 8px;
  border-radius: 50%;
  width: 20px;
}

.post-footer-likes span {
  color: #363636;
}

.post-footer-commentary {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.post-footer-commentary div {
  display: flex;
  padding: 0px 10px;
  margin-top: 10px;
}

.post-footer-commentary span {
  color: #363636;
  font-size: 16px;
  line-height: 14px;
  font-weight: 300px;
}

.post-footer-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  margin: 10px 0px;
}

.post-footer-input ion-icon {
  font-size: 30px;
}

.post-footer-input input {
  border: none;
  width: 80%;
  font-size: 14px;
}

.post-footer-input input:focus {
  outline: none;
}

.post-footer-input button {
  color: #b2dffc;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.post-footer-input button:hover {
  color: #0095f6;
}

.post-footer-button {
  margin: 10px 0px 4px 15px;
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 16px;
}

/*
  Aside Content
*/

aside {
  width: 293px;
  border-radius: 3px;
  margin-left: 4px;
  background-color: #ffffff;
}

.aside-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #c7c7c7;
  margin-top: 15px;
  padding: 0px 8px;
}

.aside-profiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 8px;
}

.aside-suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0px 8px;
  transition: 300ms;
}

.aside-suggestion span {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.aside-suggestion button {
  color: var(primary-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.aside-profiles button {
  color: var(--follow-color);
}

.aside-profiles-username {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.aside-profiles-username img {
  margin-right: 15px;
}

.username-large-image {
  width: 60px;
  border-radius: 50%;
}

.username-short-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.aside-profiles-username p:nth-child(1) {
  color: var(--primary-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.aside-profiles-username p:nth-child(2) {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 2px;
}

/*
  Footer
*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  height: 54px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid var(--border);
  border-radius: 3px;
}

/*
  Responsivo
*/

@media (min-width: 614px) {
  footer {
    display: none;
  }
}

@media (max-width: 935px) {
  aside {
    display: none;
  }

  main {
    margin: 0px auto;
  }
}

@media (max-width: 810px) {
  aside {
    display: none;
  }

  header {
    width: 100%;
  }

  section {
    width: 100%;
  }
}

@media (max-width: 614px) {
  section {
    margin-top: 55px;
  }

  main {
    width: 100%;
  }

  .header-logo {
    justify-content: space-between;
    width: 54%;
    padding: 0px 18px;
  }

  .header-search {
    display: none;
  }

  .header-icons {
    width: 20%;
  }

  .header-icons ion-icon:nth-child(2) {
    display: none;
  }

  .header-icons ion-icon:nth-child(3) {
    display: none;
  }

  .header-icons ion-icon:nth-child(4) {
    display: none;
  }

  .line-vertical {
    display: none;
  }

  .container {
    width: 100%;
    height: 1800px;
  }

  .post-image img {
    width: 100%;
  }

  .post-footer-input {
    display: none;
  }

  .container-story {
    background-color: var(--main-background);
  }

  .container-story ion-icon {
    display: none;
  }

  .container-post {
    margin-top: -2px;
    margin-bottom: 26px;
  }
}
/*
  Utilitários
*/

ion-icon {
  font-size: 22px;
  color: var(--icon-color);
  cursor: pointer;
}

ion-icon:hover {
  opacity: 0.7;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

video {
  width: 100%;
}
